<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- <mapping class="com/djl/domain/CostType.hbm.xml"/> -->
		<mapping class = "com.djl.domain.CostType"/>
		<mapping class = "com.djl.domain.Spender"/>
		<mapping class = "com.djl.domain.CostInfo"/>
		<mapping class = "com.djl.domain.FunList"/>
	
	</session-factory>

</hibernate-configuration>